<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Projeto AÍ/Bubble</title>
    <style>
        /* Estilos CSS para o cabeçalho */
        .header {
            background-color: #f0f0f0;
            padding: 10px;
        }

        .header-button {
            margin-right: 10px;
            text-decoration: none;
            color: #000;
            padding: 5px 10px;
            border-radius: 4px;
            background-color: #ddd;
        }
    </style>
</head>
<body>
    {% include 'header.html' %} <!-- Inclui o cabeçalho -->
    <h1>Bem-vindo ao Projeto AÍ/Bubble</h1>
    <p>Este é o conteúdo da página inicial.</p>
</body>
</html>
